<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/apple-touch-icon.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />

{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Barlow:wght@400;500;700&display=swap', 100) %}
    {% do assets.addCss('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css', 99) %}
    {% do assets.addCss('theme://css/base1.css', 98) %}
    {% do assets.addCss('theme://css/base2.css', 97) %}
    {% do assets.addCss('theme://css/base3.css', 96) %}
    {#  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Barlow:wght@400;500;700&display=swap" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Barlow:wght@400;500;700&display=swap" media="print" onload="this.media='all'" />
    <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Barlow:wght@400;500;700&display=swap" />
    </noscript>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">

    <link rel="stylesheet" media="all" href="css/base1.css" />
    <link rel="stylesheet" media="all" href="css/base2.css" />
    <link rel="stylesheet" media="all" href="css/base3.css" /> #}

    {# do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) #}
    {# do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) #}
    {# do assets.addCss('theme://css/custom.css', 98) #}
{% endblock %}

{% block javascripts %}
    {# do assets.addJs('jquery', 100) #}
    {% do assets.addJs('theme://js/base.js', { group: 'bottom' }) %}

{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }} org-default not-layout-page path-node not-front node-page node-page--node-type-uw-ct-web-page">
<div class="skiplinks">
  <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
</div>

<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
  <div class="uw-site-container">
    <!-- Setting the search form items for external header usage -->

{% block header %}
    <header class="uw-header org-default" role="banner">
      <div class="uw-header__masthead">
        <div class="uw-site-logo">
          <a class="uw-site-logo__link" href="https://uwaterloo.ca" title="University of Waterloo Home" aria-label="University of Waterloo Home" rel="home"></a>
        </div>
        <div class="uw-header-menu">
          <nav class="uw-horizontal-nav  uw-horizontal-nav--header">
            <div class="uw-horizontal-nav--wrapper">
              <div class="uw-horizontal-nav--menu">
                <ul  class="menu menu--horizontal">
                  <li  class="menu--item has-submenu"><a tabindex="0" aria-haspopup="true" role="button" class="menu--link menu--link__sub"><span class="link-text">Jump to</span></a>
                    <ul class="menu menu--subnav">
                      <li class="menu--item menu--item__parent"><a href="#" class="menu--link-parent"><span class="link-text">Jump to</span></a>
                      </li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/admissions/" class="menu--link"><span class="link-text">Admissions</span></a></li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/about/" class="menu--link"><span class="link-text">About Waterloo</span></a></li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/faculties-academics/" class="menu--link"><span class="link-text">Faculties &amp; Academics</span></a> </li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/offices-services/" class="menu--link"><span class="link-text">Offices &amp; Services</span></a> </li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/support/" class="menu--link"><span class="link-text">Support Waterloo</span></a> </li>
                      <li  class="menu--item"><a href="https://uwaterloo.ca/coronavirus/" class="menu--link"><span class="link-text">COVID-19</span></a> </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <div class="uw-header-search">
          <form ole="search" action="https://uwaterloo.ca/search" id="12345" method="get" autocomplete="off" class="uw-search--form">
            <input type="text" id="uw-search" name="search-input" placeholder="Search"  class="uw-input uw-input--search">
            <button type="submit" value="submit" class="button button--submit  button--submit__form "><i class="bi-search"></i></button>
          </form>
        </div>

        <div class="uw-header-searchbar">
          <form role="search" action="https://uwaterloo.ca/search" id="1234565" method="get" autocomplete="off" class="uw-search--form">
            <label for="opentray" class="uw-search--checkboxlabel" ><span class="uw-search--labeltext"></span></label>
            <input type="checkbox" id="opentray" name="checkbox" class="uw-input uw-input--checkboxform">
            <div class="form-item form-item--text">
              <input type="text" id="uw-search-bar" name="search-input" placeholder="Search" class="uw-input uw-input--search"> 
            </div>
            <div class="form-item form-item--submit">
              <button type="submit" value="submit" class="button button--submit  button--submit__form ">
              </button>
            </div>
          </form>
        </div>
      </div>

    <!-- Branding colour bar. -->
    <div class="uw-colour-bar">
      <div class="uw-colour-bar__wrapper">
        <div class="uw-colour-bar__cbars">
          <div class="uw-colour-bar__cbar org-default__uw-gold--lvl1"></div>
          <div class="uw-colour-bar__cbar org-default__uw-gold--lvl2"></div>
          <div class="uw-colour-bar__cbar org-default__uw-gold--lvl3"></div>
          <div class="uw-colour-bar__cbar org-default__uw-gold--lvl4"></div>
        </div>
      </div>
    </div>
    <!-- Main header horizontal navigation -->
    <nav class="uw-header__nav">
      <div class="uw-header__center">
        <div class="uw-header__site-name">
          <div class="uw-site-name">
            <div class="uw-site-name__wrapper">
            <a class="uw-site-name__link" href="https://uwaterloo.ca/library/" title="Anti-racism Home" rel="home">
            <h1 class="uw-site-name__text">Library</h1>
            </a>
            </div>
          </div>
        </div>

        <button class="uw-navigation-button" aria-controls="uw-header__navigation" aria-expanded="false">
          <span class="uw-navigation-button__text">Menu</span>
          <span class="uw-navigation-button__lines"></span>
        </button>

      </div>
      <div id="uw-header__navigation" class="uw-header__navigation">
        <nav class="uw-horizontal-nav  uw-horizontal-nav--main">
          <div class="uw-horizontal-nav--wrapper">
            <div class="uw-horizontal-nav--home">
            <a href="https://uwaterloo.ca/library/" class="uw-site-home__link" title="Anti-racism Home" rel="home">
              <div class="uw-icon uw-svg uw-svg__home">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24" height="24"  viewBox="0 0 24 24">
              <circle class="bg-circle" cx="12" cy="11.9" r="11.6"/>
              <path class="house" d="M15.9,6.6c0-0.2-0.2-0.4-0.4-0.4c0,0,0,0,0,0h-1.1c-0.2,0-0.4,0.2-0.4,0.4c0,0,0,0,0,0v1.1l-1.7-1.6
          c-0.2-0.2-0.5-0.2-0.6,0l-5.8,5.2l0.6,0.8l0.9-0.8V18c0,0.2,0.2,0.4,0.4,0.4c0,0,0,0,0,0h2.9c0.2,0,0.4-0.2,0.4-0.4c0,0,0,0,0,0
          v-3.4h2V18c0,0.2,0.2,0.4,0.4,0.4c0,0,0,0,0,0h2.9c0.2,0,0.4-0.2,0.4-0.4c0,0,0,0,0,0v-6.5l0.9,0.8l0.6-0.8l-2.2-2L15.9,6.6z"/>
                  </svg>
                </div>
                <span class="off-screen">Anti-racism Home</span>
                </a>
              </div>

              
              <div class="uw-horizontal-nav--menu">
                <ul  class="menu menu--horizontal">
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/find-resources" class="menu--link"><span class="link-text">Find resources</span></a></li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/research-supports" class="menu--link"><span class="link-text">Research supports</span></a>
                  </li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/learning-supports" class="menu--link"><span class="link-text">Learning supports</span></a></li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/use-the-library" class="menu--link"><span class="link-text">Use the Library</span></a></li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/account-and-privileges" class="menu--link"><span class="link-text">Account and privileges</span></a></li>
                  <li  class="menu--item has-submenu"><a tabindex="0" aria-haspopup="true" role="button" class="menu--link menu--link__sub"><span class="link-text">About the Library</span></a>
                    <ul class="menu menu--subnav">
                      <li class="menu--item menu--item__parent"><a href="https://uwaterloo.ca/library/about" class="menu--link-parent"><span class="link-text">About the Library</span></a></li>
                      <li class="menu--item has-submenu sub-1"><a href="https://uwaterloo.ca/library/about/people" class="menu--link"><span class="link-text">Our People</span></a>
                        <ul class="menu menu--subnav">
                          <li class="menu--item"><a href="https://uwaterloo.ca/library/about/people/university-librarian" class="menu--link"><span class="link-text">University Librarian</span></a></li>
                          <li class="menu--item"><a href="https://uwaterloo.ca/library/about/people/our-partnerships" class="menu--link"><span class="link-text">Our partnerships</span></a></li>
                        </ul>
                      </li>
                      <li class="menu--item"><a href="https://uwaterloo.ca/library/about/library-revitalization" class="menu--link"><span class="link-text">Library revitalization</span></a> </li>
                    </ul>
                  </li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/services/ask-us" class="menu--link"><span class="link-text">Ask us</span></a> </li>
                  <li  class="menu--item"><a href="https://uwaterloo.ca/library/news" class="menu--link"><span class="link-text">News</span></a> </li>
                  <!-- <li  class="menu--item is-active-trail"><a href="#activeItem" class="menu--link active"><span class="link-text">Menu Item active</span></a> </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
    </header>
{% endblock %}

{% block body %}

   <main id="main" class="uw-main" role="main" tabindex="-1">
      <div id="block-pagetitle" class="block block-core block-page-title-block"> 
      
        <h1 class="page-title">{{ header.title|e }}</h1>
      </div>
      <div role="article" about="/anti-racism/contact-us" class="node node--type-uw-ct-web-page node--view-mode-full uw-node">
      <div class="uw-node__grid">
        
        <article class="uw-node__node">
          <div class="node__content">
            <div class="uw-node__without-image">
              <article class="card card__node  card__node--web-page">
                <!-- <div class="card__header">Card Header</div> -->

                <div class="card__body">
                  <div class="card__content">

                    <section class="uw-contained-width layout layout--uw-1-col">
                      <div class="layout__region layout__region--first">
                        
                        <div class="uw-copy-text">
                          <div class="uw-copy-text__wrapper ">
                          <p class="highlight">Restricted Resource&#8212;available only to UW faculty, staff, and students. </p>
                          

                            {% block content %}{% endblock %}
                            {# include ('snippets/floor_tabs.twig') #}

                          </div>
                        </div>
                      </div>

                        

                      </section>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>
{% endblock %}

{% block footer %}
   <footer class="uw-footer" role="contentinfo">
      <div class="uw-site-footer__block">


        <div id="block-uw-fdsu-theme-resp-uw-block-site-footer" class="block block-uw-ct-site-footer block-uw-block-site-footer">
          <div class="uw-site-footer">
            <div class="uw-site-footer__wrapper">

              <div class="uw-site-footer__logo">
              <a href="https://uwaterloo.ca">
              <img src="https://uwaterloo.ca/brand/sites/ca.brand/files/uwaterloo_logo.png" alt="University of Waterloo">
              </a>
              </div>
              
              <div class="uw-site-footer__social-media">
                <div class="uw-social-media">
                  <ul class="social-media-list ">
                    <li class="social-media-list-item"><a href="https://www.facebook.com/UniversityofWaterlooLibrary" class="social-media-link local-site-footer"><i class="ifdsu fdsu-facebook social-media-i local-site-footer"></i><span class="off-screen">Facebook</span></a>
                    </li>
                    <li class="social-media-list-item"><a href="https://www.twitter.com/UWLibrary" class="social-media-link local-site-footer"><i class="ifdsu fdsu-twitter social-media-i local-site-footer"></i><span class="off-screen">Twitter</span></a>      
                    </li>
                    <li class="social-media-list-item">
                    <a href="https://www.youtube.com/user/UWlibrary" class="social-media-link local-site-footer"><i class="ifdsu fdsu-youtube social-media-i local-site-footer"></i><span class="off-screen">Youtube</span></a>
                    </li>
                    <li class="social-media-list-item"><a href="https://www.instagram.com/uwlibrary" class="social-media-link local-site-footer"><i class="ifdsu fdsu-instagram social-media-i local-site-footer"></i><span class="off-screen">Instagram</span></a>      
                    </li>
                  </ul>
                </div>
              </div>

              <div class="uw-site-footer__content">

                <section class="layout layout--uw-3-col legacy-23-27-27-23">
                 <!-- <div class="layout__region layout__region--first">
                    <div class="block block-layout-builder block-inline-blockuw-cbl-copy-text">
                      <div class="uw-copy-text">
                        <div class="uw-copy-text__wrapper ">
                          <p>Hagey Hall 3157<br>
                            200 University Ave,. W.<br>
                            Waterloo, ON  N2L 3G1<br>
                            519-888-4567, ext. 36536
                          </p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="layout__region layout__region--first">
                    <div class="block block-layout-builder block-inline-blockuw-cbl-copy-text">
                      <div class="uw-copy-text">
                        <div class="uw-copy-text__wrapper">
                          <ul class="menu">    
                            <li><a href="http://subjectguides.uwaterloo.ca/">Research guides</a></li>
                            <li><a href="https://www.reserves.uwaterloo.ca/ares/ares.dll">Course reserves</a></li>
                            <li><a href="https://uwaterloo.ca/library/services/my-library-account">My library account</a></li>
                            <li><a href="https://uwaterloo.ca/library/forms/send-your-feedback-library-wcms-team/">Provide website feedback</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="layout__region layout__region--second">
                    <div class="block block-layout-builder block-inline-blockuw-cbl-copy-text">
                      <div class="uw-copy-text">
                        <div class="uw-copy-text__wrapper">
                          <ul class="menu">    
                            <li><a href="http://subjectguides.uwaterloo.ca/">Book a study room</a></li>
                            <li><a href="https://www.reserves.uwaterloo.ca/ares/ares.dll">Hours</a></li>
                            <li><a href="https://uwaterloo.ca/library/services/my-library-account">News and events</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="layout__region layout__region--third">
                    <div class="block block-layout-builder block-inline-blockuw-cbl-copy-text">
                      <div class="uw-copy-text">
                        <div class="uw-copy-text__wrapper">
                          <ul class="menu">    
                            <li><a href="http://subjectguides.uwaterloo.ca/">Work for the Library</a></li>
                            <li><a href="https://www.reserves.uwaterloo.ca/ares/ares.dll">Give to the Library</a></li>
                            <li><a href="https://uwaterloo.ca/library/services/my-library-account">Ask us</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                </section>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="uw-footer__wrapper">
        <div class="uw-footer__address">
          <div class="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
            <div class="hidden">
              <div property="v:fn">University of Waterloo</div>
              <div rel="v:org">
                <div property="v:organisation-name">University of Waterloo</div>
              </div>
              <div rel="v:geo">
                <div property="v:latitude">43.471468</div>
                <div property="v:longitude">-80.544205</div>
              </div>
            </div>
            <div rel="v:adr">
              <div property="v:street-address">200 University Avenue West</div>
              <div>
                <span property="v:locality">Waterloo</span>,
                <span property="v:region">ON</span>,
                <span property="v:country-name">Canada</span>&nbsp;
                <span property="v:postal-code">N2L 3G1</span>
              </div>
            </div>
            <div class="uw-footer-phone" rel="v:tel">
              <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
            </div>
          </div>
        </div>

        <div class="uw-footer__menu">
          <ul  class="menu menu--uw-footer">
            <li  class="menu--item"><a href="https://uwaterloo.ca/about/contact-us" class="menu--link"><span class="link-text">Contact Waterloo</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/accessibility/" class="menu--link"><span class="link-text">Accessibility</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/news/" class="menu--link"><span class="link-text">News</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/map/" class="menu--link"><span class="link-text">Maps &amp; directions</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/privacy/" class="menu--link"><span class="link-text">Privacy</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/careers/" class="menu--link"><span class="link-text">Careers</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/watsafe/" class="menu--link"><span class="link-text">Watsafe</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/copyright" class="menu--link"><span class="link-text">Copyright</span></a> </li>
            <li  class="menu--item"><a href="https://uwaterloo.ca/about/contact-us/contact-form" class="menu--link"><span class="link-text">Feedback</span></a> </li>
          </ul>
        </div>

        <div class="uw-footer__social">
          <div class="uw-social-media">
            <ul class="social-media-list ">
              <li class="social-media-list-item">
                <a href="https://www.facebook.com/university.waterloo" class="social-media-link global-site-footer">
                  <i class="ifdsu fdsu-facebook social-media-i global-site-footer"></i>
                  <span class="off-screen">Facebook</span>
                </a>
              </li>
              <li class="social-media-list-item">
                <a href="https://twitter.com/uWaterloo" class="social-media-link global-site-footer">
                  <i class="ifdsu fdsu-twitter social-media-i global-site-footer"></i>
                <span class="off-screen">Twitter</span>
                </a> 
              </li>
              <li class="social-media-list-item">
                <a href="https://www.youtube.com/user/uwaterloo" class="social-media-link global-site-footer">
                  <i class="ifdsu fdsu-youtube social-media-i global-site-footer"></i>
                  <span class="off-screen">YouTube</span>
                </a> 
              </li>
              <li class="social-media-list-item">
                <a href="https://www.instagram.com/uofwaterloo/" class="social-media-link global-site-footer">
                  <i class="ifdsu fdsu-instagram social-media-i global-site-footer"></i>
                  <span class="off-screen">Instagram</span>
                </a>
              </li>
              <li class="social-media-list-item">
                <a href="https://www.linkedin.com/school/uwaterloo/" class="social-media-link global-site-footer">
                  <i class="ifdsu fdsu-linkedin social-media-i global-site-footer"></i>
                  <span class="off-screen">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
        <div class="uw-footer__social-directory"><a href="https://uwaterloo.ca/social-media/">@uwaterloo social directory</a></div>
        </div>
        <div class="uw-footer__territorial">
          <div class="uw-bg--">
            <div class="uw-territorial">
              <p>The University of Waterloo acknowledges that much of our work takes place on the traditional territory of the Neutral, Anishinaabeg and Haudenosaunee peoples. Our main campus is situated on the Haldimand Tract, the land granted to the Six Nations that includes six miles on each side of the Grand River. Our active work toward reconciliation takes place across our campuses through research, learning, teaching, and community building, and is centralized within our <a href="https://uwaterloo.ca/indigenous" >Office of Indigenous Relations</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}


  </div>
</div>
</body>
</html>
