{% extends 'partials/base.html.twig' %}

{% block body %}
   <main id="main" class="uw-main" role="main" tabindex="-1">
      <div id="block-pagetitle" class="block block-core block-page-title-block">
        <h1 class="page-title">{{ header.title|e }}</h1>
      </div>
      <div role="article" about="/anti-racism/contact-us" class="node node--type-uw-ct-web-page node--view-mode-full uw-node">
      <div class="uw-node__grid">
        
        <article class="uw-node__node">
          <div class="node__content">
            <div class="uw-node__without-image">
              <article class="card card__node  card__node--web-page">
                <!-- <div class="card__header">Card Header</div> -->

                <div class="card__body">
                  <div class="card__content">

                    <section class="uw-contained-width layout layout--uw-2-col larger-left">
                      <div class="layout__region layout__region--first">
                        
                        <div class="uw-copy-text">
                          <div class="uw-copy-text__wrapper ">
                          <p class="highlight">Restricted Resource—available only to UW faculty, staff, and students.</p>

                            {% block content %}
                            {{ page.content|raw }}
                            {% endblock %}

                          </div>
                        </div>
                      </div>

                        <div class="layout__region layout__region--second">
                          <div class="uw-copy-text">
                            <div class="uw-copy-text__wrapper ">
                              
                              
                              <div class="uw-cta ">
                                <div class="uw-cta__center-wrapper">
                                  <aside class="uw-cta__aside org-default">
                                    <a href="https://uwaterloo.ca/library/services/ask-us" class="uw-cta__link">
                                      <div class="uw-cta__wrapper">
                                        <div class="call-to-action-theme-org-default">
                                          <!-- <div class="uw-cta__text uw-cta__text--small">Waterloo.Ai</div> -->
                                          <div class="uw-cta__text uw-cta__text--big">Ask a Libraryan</div>
                                          <div class="uw-cta__text uw-cta__text--small">Via chat, in person, email or phone</div>
                                        </div>
                                      </div>
                                    </a>
                                  </aside>
                                </div>
                              </div>

                            
                            </div>
                          </div>
                        </div>

                      </section>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>
{% endblock %}

